config.py
__pycache__
.ipynb_checkpoints
dummydata.json
dummydata2.json
dummydata3.json
dummydata4.json
dummydata5.json
dummydata6.json
dummydata6sorcs.json
dummydata7.json
dummydata8.json
dummydata9.json
data4.json
data5.json
data6.json
data7.json
results.json
results2.json
